In [1]:
!pip install pandas
!pip install numpy
!pip install sqlalchemy
!pip install psycopg2
!pip install sqlalchemy
!pip install ipython-sql

Requirement already satisfied: pandas in c:\users\julia\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\julia\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\julia\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\julia\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\julia\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\julia\anaconda3\lib\site-packages (1.20.1)
Requirement already satisfied: sqlalchemy in c:\users\julia\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\julia\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Collecting psycopg2
  Using cached psycopg2-2.9.3-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2

ERROR: Could not install packages due to an OSError: [WinError 5] Acesso negado: 'C:\\Users\\julia\\anaconda3\\Lib\\site-packages\\psycopg2\\_psycopg.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: sqlalchemy in c:\users\julia\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\julia\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: ipython-sql in c:\users\julia\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\julia\anaconda3\lib\site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: colorama in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: pygments in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\julia\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\julia\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\julia\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\julia\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [2]:
#IMPORTS
import pandas as pd
import json
import requests
import numpy as np
from sqlalchemy import create_engine
import psycopg2
%load_ext sql
import sqlalchemy

In [3]:
#CONECTANDO AO BANCO DE DADOS
%sql sqlite:///sqlite3.db
engine = create_engine('sqlite:///sqlite3.db')

In [4]:
#TRANSFORMANDO O CSV EM DATAFRAME
df_compras=pd.read_csv('https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_compras')

In [6]:
df_compras

                    nome               show   gastos
0            Joseph Wray       Symbolic Toy  3142.35
1         Barbara Mcneil       Symbolic Toy  2431.78
2     Eduardo Espenshade       Symbolic Toy   386.32
3            Lucia Hayes       Symbolic Toy  3373.49
4        Johnny Hairston       Symbolic Toy  2805.88
..                   ...                ...      ...
495  Cassandra Gonsalves  Terrestrial Chair   154.39
496  Christopher Mueller       Symbolic Toy  1797.44
497  Christopher Mueller     Nascent Letter  1511.91
498  Christopher Mueller     Nascent Letter  3439.69
499  Christopher Mueller     Nascent Letter  1635.48

[500 rows x 3 columns]

In [7]:
#TRANSFORMANDO O JSON EM DATAFRAME
df_ingressos=pd.read_json('https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_ingressos')
df_ingressos

     ano  dia  mes               nome                 status           tipo
0   2020    1    1  Benjamin Mcdonald          Nao Concluido            VIP
1   2020    1    1   Mitchell Kostyla          Nao Concluido            VIP
2   2020    1    1       Gerald Allen          Nao Concluido            VIP
3   2020    1    1     Frederick Bank  Problema no Pagamento            VIP
4   2020    1    1           Tina Yee          Nao Concluido            VIP
..   ...  ...  ...                ...                    ...            ...
95  2020    3    1    Richard Jimenez          Nao Concluido  Pista Premium
96  2020    3    1   Curtis Hernandez  Problema no Pagamento  Pista Premium
97  2020    3    1        Alice Gamba              Concluido  Pista Premium
98  2020    3    1       Brenda Kozak  Problema no Pagamento  Pista Premium
99  2020    3    1  Robert Copenhaver              Concluido  Pista Premium

[100 rows x 6 columns]

In [8]:
#TRANSFORMANDO O JSON EM DATAFRAME
df_shows=pd.read_json('https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_shows')
df_shows

     Nascent Letter  Symbolic Toy  Terrestrial Chair
ano            2020          2020               2020
dia               2             3                  1
mes               1             1                  1

In [9]:
try:
    df_compras.to_sql('compras', con=engine)
    df_ingressos.to_sql('ingressos', con=engine)
except:
    print('Tabela ja exite!')

Tabela ja exite!

### 1. Qual a média de gastos de pessoas com ingresso Pista? #

In [10]:
'''
#USANDO PANDAS
'''

filtering=df_ingressos['nome'][(
    df_ingressos.status=='Concluido')&(
    df_ingressos.tipo=='Pista')]

df_pista=df_compras['nome'].isin(filtering)
df_compras.loc[df_pista,'gastos'].mean()

1935.9419444444445

In [11]:
'''
# USANDO SQL
'''

%sql select AVG(gastos) from compras WHERE nome IN (select nome from ingressos where status='Concluido' AND tipo='Pista')

 * sqlite:///sqlite3.db
Done.

[(1935.9419444444445,)]

### 2. Quais pessoas não compareceram aos shows?#

In [12]:
'''
#USANDO PANDAS
'''

df_presenca=df_compras['nome']
df_s_presenca=df_ingressos[~df_ingressos['nome'].isin(df_presenca)].sort_values(by='nome', ascending=True)
df_s_presenca=df_s_presenca.drop_duplicates(subset=['nome'])
df_s_presenca

     ano  dia  mes               nome                 status           tipo
97  2020    3    1        Alice Gamba              Concluido  Pista Premium
88  2020    2    1          Amy Mejia  Problema no Pagamento  Pista Premium
76  2020    1    1         Brenda Key              Concluido  Pista Premium
98  2020    3    1       Brenda Kozak  Problema no Pagamento  Pista Premium
53  2020    2    1   Courtney Edwards              Concluido          Pista
96  2020    3    1   Curtis Hernandez  Problema no Pagamento  Pista Premium
12  2020    1    1     Deborah Silsby              Concluido            VIP
14  2020    1    1     Donna Chandler          Nao Concluido            VIP
62  2020    3    1       Edward Smith  Problema no Pagamento          Pista
46  2020    1    1     Elizabeth Daly  Problema no Pagamento          Pista
25  2020    2    1    Frances Lambert              Concluido            VIP
51  2020    2    1        Frank Houck  Problema no Pagamento          Pista
24  2020    2    1       James Coffey  Problema no Pagamento            VIP
86  2020    2    1        Linda Batiz              Concluido  Pista Premium
58  2020    3    1     Marcela Nelson              Concluido          Pista
68  2020    1    1        Maria Villa  Problema no Pagamento  Pista Premium
26  2020    2    1      Matt Smudrick          Nao Concluido            VIP
60  2020    3    1       Miguel Ramey              Concluido          Pista
61  2020    3    1      Nancy Degroot          Nao Concluido          Pista
13  2020    1    1        Nancy Smith          Nao Concluido            VIP
75  2020    1    1       Pamela Nixon              Concluido  Pista Premium
69  2020    1    1     Ricardo Clasby              Concluido  Pista Premium
85  2020    2    1     Rick Fleishman              Concluido  Pista Premium
99  2020    3    1  Robert Copenhaver              Concluido  Pista Premium
59  2020    3    1      Sandra Duncan              Concluido          Pista
45  2020    1    1     Travis Whatley  Problema no Pagamento          Pista
32  2020    3    1      Yong Baltazar          Nao Concluido            VIP

### 2. Quais pessoas não compareceram aos shows? #

In [13]:
'''
#USANDO SQL
'''
%sql select  DISTINCT(nome) from ingressos where nome NOT IN (select nome from compras) ORDER BY nome ASC

 * sqlite:///sqlite3.db
Done.

[('Alice Gamba',),
 ('Amy Mejia',),
 ('Brenda Key',),
 ('Brenda Kozak',),
 ('Courtney Edwards',),
 ('Curtis Hernandez',),
 ('Deborah Silsby',),
 ('Donna Chandler',),
 ('Edward Smith',),
 ('Elizabeth Daly',),
 ('Frances Lambert',),
 ('Frank Houck',),
 ('James Coffey',),
 ('Linda Batiz',),
 ('Marcela Nelson',),
 ('Maria Villa',),
 ('Matt Smudrick',),
 ('Miguel Ramey',),
 ('Nancy Degroot',),
 ('Nancy Smith',),
 ('Pamela Nixon',),
 ('Ricardo Clasby',),
 ('Rick Fleishman',),
 ('Robert Copenhaver',),
 ('Sandra Duncan',),
 ('Travis Whatley',),
 ('Yong Baltazar',)]

### 3. Quais pessoas compraram ingressos com concorrentes? #

In [14]:
''' 
#USANDO PANDAS
'''
vendidos=df_ingressos['nome'][(
    df_ingressos.status=='Concluido')]


df_concorrente=df_compras[~df_compras['nome'].isin(vendidos)].sort_values(by='nome', ascending=True)
df_concorrente.drop_duplicates(['nome'])

                 nome               show   gastos
285     Adelina Thews  Terrestrial Chair  2372.34
48       Alan Gravois     Nascent Letter   463.15
112     Albert Fadden  Terrestrial Chair  1637.19
118      Alberto Gumm  Terrestrial Chair  2297.47
224      Allen Bylsma       Symbolic Toy   454.92
..                ...                ...      ...
83   William Converse     Nascent Letter  1627.07
422    William Cotton       Symbolic Toy   917.68
117    William Polite  Terrestrial Chair   304.31
355     William Swann  Terrestrial Chair  2962.95
9    Willie Rodriguez       Symbolic Toy  1924.87

[213 rows x 3 columns]

In [15]:
'''
#USANDO SQL
'''
%sql select DISTINCT(nome) from compras where nome NOT IN (select nome from ingressos where status=='Concluido') ORDER BY nome ASC

 * sqlite:///sqlite3.db
Done.

[('Adelina Thews',),
 ('Alan Gravois',),
 ('Albert Fadden',),
 ('Alberto Gumm',),
 ('Allen Bylsma',),
 ('Allison Magill',),
 ('Amanda Jones',),
 ('Andrea Galyen',),
 ('Andrew Hoff',),
 ('Anna Hines',),
 ('Anthony King',),
 ('Anthony Nokes',),
 ('Arthur Steiner',),
 ('Belen Bradley',),
 ('Benjamin Mcdonald',),
 ('Benny Boisen',),
 ('Beth Evans',),
 ('Betty Lynch',),
 ('Betty Moore',),
 ('Beverly Redfern',),
 ('Blanche Knox',),
 ('Bobby Rick',),
 ('Brandy Barnes',),
 ('Brian Mann',),
 ('Brittney Birkey',),
 ('Bruce Hicks',),
 ('Bryan Rayford',),
 ('Caleb Munselle',),
 ('Candy Killough',),
 ('Carl Weber',),
 ('Carol Eash',),
 ('Carol Meeker',),
 ('Cassandra Gonsalves',),
 ('Catalina Berry',),
 ('Catherine Loos',),
 ('Charles Hershenson',),
 ('Chelsea Banter',),
 ('Cheryl West',),
 ('Chester Chavez',),
 ('Chris Wright',),
 ('Christopher Mueller',),
 ('Clarence Sharp',),
 ('Courtney Chapman',),
 ('Craig Wrisley',),
 ('Cynthia Daves',),
 ('Daniel Markell',),
 ('Daniel Puckett',),
 ('Danielle Gill',),
 ('Darrel Allmand',),
 ('David Pendergraph',),
 ('Debra Howard',),
 ('Denise Trapp',),
 ('Dennis Miller',),
 ('Derrick Collins',),
 ('Donald Williams',),
 ('Donna Marinas',),
 ('Dorothy Simmons',),
 ('Earl Thoburn',),
 ('Edna Martinez',),
 ('Edward Dick',),
 ('Edward Scott',),
 ('Eileen Gonzalez',),
 ('Elena Lane',),
 ('Elizabeth Barela',),
 ('Elizabeth Pietrowski',),
 ('Emil Nord',),
 ('Emilio Mccoy',),
 ('Emily Reece',),
 ('Fannie Anderson',),
 ('Frances Williams',),
 ('Francis Lowe',),
 ('Frank Davilla',),
 ('Frank Skeesick',),
 ('Gary Baier',),
 ('Gary Schulman',),
 ('Genoveva Poucher',),
 ('George Hamm',),
 ('Gerald Allen',),
 ('Gilbert Romo',),
 ('Henry Martinez',),
 ('Henry Robinson',),
 ('Herman Severson',),
 ('Humberto Acton',),
 ('Jack Spilde',),
 ('James Bates',),
 ('James Bombard',),
 ('James Glover',),
 ('James Mccollum',),
 ('James Reaves',),
 ('Jane Dunlap',),
 ('Jarrod Adler',),
 ('Jasmin Bray',),
 ('Jayne Romaine',),
 ('Jeanette Meyer',),
 ('Jeffrey Pace',),
 ('Jeffrey Ungaro',),
 ('Jennifer Grant',),
 ('Jennifer Williams',),
 ('Jeremiah Hodge',),
 ('Jesse Sheehan',),
 ('Jessie Cook',),
 ('Jesus Blodgett',),
 ('Joann Hinde',),
 ('John Mickle',),
 ('John Stowell',),
 ('Johnny Hairston',),
 ('Jonathan Bechel',),
 ('Joseph Almond',),
 ('Joseph Wray',),
 ('Joshua Petzold',),
 ('Joshua Sanderson',),
 ('Juan Koopman',),
 ('Juanita Grant',),
 ('Karen Dumas',),
 ('Kathleen Nosal',),
 ('Kelly Williamson',),
 ('Kenneth Lucas',),
 ('Kevin Stafford',),
 ('Kimberly Ferri',),
 ('Kristal Mick',),
 ('Kristen Okajima',),
 ('Larry Teague',),
 ('Laura Booth',),
 ('Lenard Thomas',),
 ('Leo Hall',),
 ('Leon Poppel',),
 ('Leonard Schwartz',),
 ('Leonard Storey',),
 ('Linda Harris',),
 ('Lindsey Robertson',),
 ('Lisa Flowers',),
 ('Lloyd Seifert',),
 ('Lois Gaynor',),
 ('Lorene Phifer',),
 ('Louis Dejong',),
 ('Luisa Pulliam',),
 ('Margaret Robinson',),
 ('Maria Marshall',),
 ('Maria Mccullar',),
 ('Marian Jackson',),
 ('Mark Mealer',),
 ('Mark Radosevich',),
 ('Mary Brooks',),
 ('Mathew Potter',),
 ('Matthew Hammett',),
 ('Matthew Pfeiff',),
 ('Maudie Cullen',),
 ('Mayola Hall',),
 ('Melissa Esparza',),
 ('Michael Keshishian',),
 ('Michael Moore',),
 ('Micheal Hill',),
 ('Miriam Price',),
 ('Monica Mcclung',),
 ('Monte Hahn',),
 ('Nancy Soolua',),
 ('Opal Young',),
 ('Oscar Kramer',),
 ('Pamela Brimmage',),
 ('Pamela Isenhour',),
 ('Pamela Williams',),
 ('Patrick Brown',),
 ('Patrick Luna',),
 ('Paul Brady',),
 ('Paul Elliott',),
 ('Peggy Baughman',),
 ('Peter Acosta',),
 ('Philip Acuna',),
 ('Philip Webb',),
 ('Phyllis Patrick',),
 ('Rachel Hepler',),
 ('Ramon Reed',),
 ('Rebecca Burleson',),
 ('Richard Hale',),
 ('Richard Hau',),
 ('Richard Jimenez',),
 ('Richard Sharpe',),
 ('Richard White',),
 ('Robert Boyle',),
 ('Robert Collins',),
 ('Robin Bell',),
 ('Robin Rossi',),
 ('Ruby Richards',),
 ('Ruth Allbright',),
 ('Sabrina Graves',),
 ('Sarah Cole',),
 ('Scott Johnson',),
 ('Sharon Marshall',),
 ('Shayla Baird',),
 ('Sherry Bremmer',),
 ('Stella Shaw',),
 ('Suzanne Herring',),
 ('Temple Barnes',),
 ('Thomas Mitchem',),
 ('Thomas Watts',),
 ('Timothy Brackett',),
 ('Timothy Calles',),
 ('Todd Mendoza',),
 ('Tony Dechant',),
 ('Tricia Mueller',),
 ('Trina Meadows',),
 ('Veronica Mckinney',),
 ('Vicente Mcknight',),
 ('Vicki Sanchez',),
 ('Violet Meek',),
 ('Walter Dodgen',),
 ('Walter Kelly',),
 ('William Barnes',),
 ('William Converse',),
 ('William Cotton',),
 ('William Polite',),
 ('William Swann',),
 ('Willie Rodriguez',)]

### 4. Qual o dia com maior gasto? #

In [16]:
'''
#USANDO PANDAS
'''

df_compras.groupby(['show']).sum()

                      gastos
show
Nascent Letter     269765.88
Symbolic Toy       330810.92
Terrestrial Chair  319930.31

In [17]:
'''
#USANDO SQL
'''

%sql select show,SUM(gastos) as Total_Gastos from compras GROUP BY show

 * sqlite:///sqlite3.db
Done.

[('Nascent Letter', 269765.8799999999),
 ('Symbolic Toy', 330810.92),
 ('Terrestrial Chair', 319930.3100000002)]

### 5. Faça uma lista com os clientes que desistiram de comprar o ingresso com a AT, a soma do valor que foi gasto durante os shows e quais shows eles desistiram de comprar. #

In [18]:
df_merge=pd.merge(df_compras,df_ingressos,how='inner',on='nome',)
df_merge=df_merge[df_merge.status!='Concluido']
final_df=df_merge.groupby('nome').agg({'show':lambda x:list(x),'gastos':'sum'})
final_df

,show,gastos
nome,,
Andrea Galyen,"[Symbolic Toy, Symbolic Toy, Terrestrial Chair...",10267.62
Benjamin Mcdonald,[Terrestrial Chair],2309.81
Blanche Knox,"[Nascent Letter, Terrestrial Chair]",3500.72
Charles Hershenson,"[Nascent Letter, Terrestrial Chair]",3500.73
Daniel Puckett,"[Symbolic Toy, Symbolic Toy, Terrestrial Chair...",5470.98
Debra Howard,"[Symbolic Toy, Symbolic Toy, Nascent Letter, N...",22636.04
Donna Wal,"[Symbolic Toy, Symbolic Toy, Nascent Letter, N...",11954.46
Edna Martinez,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",41205.54
Emil Nord,"[Symbolic Toy, Symbolic Toy, Nascent Letter, N...",8352.80
Frank Davilla,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Nas...",11026.50
Frederick Bank,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",28902.25
Gerald Allen,[Terrestrial Chair],3447.17
Gretchen Hinojosa,[Terrestrial Chair],2867.60
James Reaves,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",24359.25
Jarrod Adler,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",5575.30
Jeffrey Pace,"[Terrestrial Chair, Terrestrial Chair, Terrest...",5810.78
John Rich,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",72989.25
Joseph Wray,[Symbolic Toy],3142.35
Joshua Sanderson,"[Symbolic Toy, Symbolic Toy, Terrestrial Chair]",3982.22
Kelly Williamson,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",32108.66
Larry Teague,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",26145.45
Lyle Branch,"[Symbolic Toy, Symbolic Toy, Nascent Letter, T...",9807.46
Margaret Robinson,[Nascent Letter],3148.62
Maria Marshall,"[Symbolic Toy, Symbolic Toy, Nascent Letter, T...",10652.17
Michael Gaines,"[Nascent Letter, Nascent Letter, Terrestrial C...",5291.92
Mitchell Kostyla,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",36714.74
Richard Culpepper,"[Symbolic Toy, Nascent Letter]",2837.48
Richard Jimenez,"[Symbolic Toy, Nascent Letter]",4463.88
Sabrina Graves,"[Nascent Letter, Nascent Letter]",1893.27
Shayla Baird,[Nascent Letter],1613.10
Suzanne Herring,[Terrestrial Chair],3387.75
Tina Yee,"[Symbolic Toy, Symbolic Toy, Symbolic Toy, Sym...",44894.70
William Barnes,"[Symbolic Toy, Symbolic Toy, Terrestrial Chair]",8541.38

In [19]:
lista_desistencia=[]
for cliente in final_df.itertuples():
    case={'nome':cliente[0],'gastos':round(cliente[2], 2),'show':cliente[1]}
    lista_desistencia.append(case)

#print(lista_desistencia)

In [20]:
for client in lista_desistencia:
    print(client)

{'nome': 'Andrea Galyen', 'gastos': 10267.62, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Benjamin Mcdonald', 'gastos': 2309.81, 'show': ['Terrestrial Chair']}
{'nome': 'Blanche Knox', 'gastos': 3500.72, 'show': ['Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Charles Hershenson', 'gastos': 3500.73, 'show': ['Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Daniel Puckett', 'gastos': 5470.98, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Debra Howard', 'gastos': 22636.04, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Donna Wal', 'gastos': 11954.46, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Edna Martinez', 'gastos': 41205.54, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Emil Nord', 'gastos': 8352.8, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter']}
{'nome': 'Frank Davilla', 'gastos': 11026.5, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Frederick Bank', 'gastos': 28902.25, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Gerald Allen', 'gastos': 3447.17, 'show': ['Terrestrial Chair']}
{'nome': 'Gretchen Hinojosa', 'gastos': 2867.6, 'show': ['Terrestrial Chair']}
{'nome': 'James Reaves', 'gastos': 24359.25, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter']}
{'nome': 'Jarrod Adler', 'gastos': 5575.3, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Terrestrial Chair']}
{'nome': 'Jeffrey Pace', 'gastos': 5810.78, 'show': ['Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'John Rich', 'gastos': 72989.25, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Joseph Wray', 'gastos': 3142.35, 'show': ['Symbolic Toy']}
{'nome': 'Joshua Sanderson', 'gastos': 3982.22, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Terrestrial Chair']}
{'nome': 'Kelly Williamson', 'gastos': 32108.66, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Larry Teague', 'gastos': 26145.45, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Lyle Branch', 'gastos': 9807.46, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Margaret Robinson', 'gastos': 3148.62, 'show': ['Nascent Letter']}
{'nome': 'Maria Marshall', 'gastos': 10652.17, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Michael Gaines', 'gastos': 5291.92, 'show': ['Nascent Letter', 'Nascent Letter', 'Terrestrial Chair']}
{'nome': 'Mitchell Kostyla', 'gastos': 36714.74, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'Richard Culpepper', 'gastos': 2837.48, 'show': ['Symbolic Toy', 'Nascent Letter']}
{'nome': 'Richard Jimenez', 'gastos': 4463.88, 'show': ['Symbolic Toy', 'Nascent Letter']}
{'nome': 'Sabrina Graves', 'gastos': 1893.27, 'show': ['Nascent Letter', 'Nascent Letter']}
{'nome': 'Shayla Baird', 'gastos': 1613.1, 'show': ['Nascent Letter']}
{'nome': 'Suzanne Herring', 'gastos': 3387.75, 'show': ['Terrestrial Chair']}
{'nome': 'Tina Yee', 'gastos': 44894.7, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Symbolic Toy', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Nascent Letter', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair', 'Terrestrial Chair']}
{'nome': 'William Barnes', 'gastos': 8541.38, 'show': ['Symbolic Toy', 'Symbolic Toy', 'Terrestrial Chair']}

# JULIANO XAVIER ZYCZYCKI